<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default" ng-controller="PineAPSettingsController">
            <div class="panel-heading">
                <h3 class="panel-title">
                    配置
                </h3>
            </div>
            <div class="panel-body" ng-hide="notifications.length">
                <div class="col-md-9">
                    <div class="row">
                        <div class="input-group margin-bottom">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.allowAssociations">
                                    允许连接虚拟热点
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group margin-bottom">
                            <span class="input-group-addon">PineAP 守护进程: {{ settings.pineAPDaemon ? "开启" : "关闭" }}</span>
                            <span class="input-group-btn">
                                <button ng-disabled="pineAPenabling" class="btn btn-default" type="button"
                                        ng-click="togglePineAP()">
                                    <span ng-hide="pineAPenabling">开关</span>
                                    <img ng-show="pineAPenabling" src="img/throbber.gif">
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <span class="input-group-addon">自动开启 PineAP: {{ settings.autostartPineAP ? "开启" : "关闭" }}</span>
                            <span class="input-group-btn">
                                <button ng-disabled="pineAPenabling" class="btn btn-default" type="button"
                                        ng-click="toggleAutoStart()">
                                    <span>开关</span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.logEvents">
                                    PineAP事件日志记录
                                </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.connectNotifications">
                                    客户端连接通知
                                </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.disconnectNotifications">
                                    客户端断开通知
                                </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.captureSSIDs">
                                    捕获SSID到SSID池里
                                </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.beaconResponses">
                                    信标响应
                                </label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" ng-model="settings.broadcastSSIDs">
                                    广播SSID池里保存的SSID列表
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group margin-bottom">
                            <span class="input-group-addon">信标响应间隔</span>
                            <select class="form-control" ng-model="settings.responseInterval">
                                <option value="LOW">低</option>
                                <option value="NORMAL">一般</option>
                                <option value="AGGRESSIVE">高</option>
                            </select>
                        </div>
                        <div class="input-group margin-bottom">
                            <span class="input-group-addon">广播整个SSID池</span>
                            <select class="form-control" ng-model="settings.broadcastInterval">
                                <option value="LOW">低</option>
                                <option value="NORMAL">一般</option>
                                <option value="AGGRESSIVE">高</option>
                            </select>
                        </div>
                        <br/>
                        <div class="input-group margin-bottom">
                            <span class="fixed-addon-width-3 input-group-addon">源MAC地址</span>
                            <input type="text" maxlength="17" class="form-control" ng-model="settings.sourceMAC">
                        </div>
                        <div class="input-group margin-bottom">
                            <span class="fixed-addon-width-3 input-group-addon">目标MAC地址</span>
                            <input type="text" maxlength="17" class="form-control" ng-model="settings.targetMAC">
                        </div>
                        <br/>
                        <div class="input-group">
                            <button class="btn btn-default" ng-hide="disableButton" ng-click="updateSettings()">保存
                                PineAP 设置
                            </button>
                            <img src="img/throbber.gif" alt="throbber.gif" ng-show="disableButton">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" ng-hide="settings.pineAPDaemon && !saveAlert">
                <div class="alert alert-info" ng-hide="settings.pineAPDaemon">
                    <strong>提示:</strong> 要使用其中一些功能，必须首先启用PineAP.
                </div>
                <div class="alert alert-success" ng-show="saveAlert">
                    自动启动配置已保存
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default" ng-controller="PineAPPoolController">
            <div class="panel-heading">
                <h3 class="panel-title">
                    SSID池
                    <button class="btn btn-default btn-xs btn-fixed-length pull-right" ng-click="getPool()">刷新
                    </button>
                    <span class="dropdown">
                        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="poolDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="poolDropdown">
                            <li ng-click="downloadPool()"><a>下载SSID池里的SSID列表</a></li>
                            <li ng-click="clearPool()"><a>清除SSID池</a></li>
                        </ul>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <textarea id="ssidPool" class="form-control" rows="15" ng-mouseup="getSSIDLineNumber()"
                              ng-model="ssidPool" readonly></textarea>
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="SSID" name="ssid" ng-model="ssid">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addSSID()">添加</button>
                        <button class="btn btn-default" type="button" ng-click="removeSSID()">移除</button>
                    </span>
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">SSID池保存位置</span>
                    <input type="text" class="form-control" ng-model="poolLocation">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="setPoolLocation()">保存</button>
                    </span>
                </div>
                <br/>
                <p class="alert well-sm alert-success" ng-show="clearedSSIDPool">SSID池清除成功</p>
                <p class="alert well-sm alert-success" ng-show="addedSSID">SSID添加成功</p>
                <p class="alert well-sm alert-success" ng-show="removedSSID">SSID移除成功</p>
                <p class="alert well-sm alert-success" ng-show="updatedPoolLocation">SSID池保存位置设置成功</p>
                <p class="alert well-sm alert-danger" ng-show="lengthError">SSID名字必须介于1到32个字符之间</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ng-controller="PineAPEnterpriseController">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    PineAP 企业版
                    <span class="dropdown" ng-show="view == 'normal'">
                        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="poolDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="poolDropdown">
                            <li ng-click="clearCertificate()"><a>清除证书</a></li>
                            <li ng-hide="chalrespdata.length == 0 && basicdata.length == 0" ng-click="clearDB()"><a>清除凭证</a></li>
                            <li ng-hide="chalrespdata.length == 0" ng-click="downloadJTR()"><a>下载凭证 (JTR 格式)</a></li>
                            <li ng-hide="chalrespdata.length == 0" ng-click="downloadHashcat()"><a>下载凭证 (Hashcat格式)</a></li>
                        </ul>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <img src="img/throbber.gif" ng-show="loadingView"/>
                <div ng-show="view === 'certs'">
                    <span class="text-info">
                        要使用PineAP专业版，必须先配置并生成证书。证书生成可能需要5分钟。
                    </span><br/><br/>
                    <div class="col-md-5">
                        <div class="margin-bottom input-group" style="width: 100%">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">国家地区</span>
                                <input type="text" maxlength="32" class="form-control" ng-model="certificateSettings.locality"
                                       ng-disabled="generatingCertificate">
                            </div>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%">
                            <div class="input-group">
                                <span class="fixed-addon-width-2 input-group-addon">州/省</span>
                                <input type="text" maxlength="32" class="form-control" ng-model="certificateSettings.state"
                                       ng-disabled="generatingCertificate">
                            </div>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">国家代码</span>
                                <input type="text" maxlength="2" class="form-control" ng-model="certificateSettings.country"
                                       ng-disabled="generatingCertificate">
                            </div>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">组织</span>
                                <input type="text" maxlength="32" class="form-control" ng-model="certificateSettings.organization"
                                       ng-disabled="generatingCertificate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="margin-bottom input-group" style="width: 100%">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">电子邮件</span>
                                <input type="text" maxlength="32" class="form-control" ng-model="certificateSettings.email"
                                       ng-disabled="generatingCertificate">
                            </div>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">公司名称</span>
                                <input type="text" maxlength="32" class="form-control" ng-model="certificateSettings.commonname"
                                       ng-disabled="generatingCertificate">
                            </div>
                        </div>
                        <button class="btn btn-default" ng-click="generateCertificate();"
                                ng-disabled="generatingCertificate">生成证书
                        </button>
                        <img src="img/throbber.gif" ng-show="generatingCertificate"/>
                        <span class="alert well-sm alert-danger" ng-show="error">{{ error }}<span>
                    </div>
                </div>
                <div ng-show="view === 'normal'">
                    <div class="col-md-5" style="height: 100%">
                        <div class="input-group">
                            <div class="checkbox">
                                <label><input type="checkbox" ng-model="settings.enabled" ng-disabled="savingSettings">
                                    开启
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" ng-model="settings.enableAssociations"
                                              ng-disabled="savingSettings">
                                    启用Passthrough
                                </label>
                            </div>
                        </div>
                        <br/>
                        <div class="margin-bottom input-group" style="width: 100%;">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">企业 SSID</span>
                                <input type="text" class="form-control" ng-model="settings.ssid"
                                       ng-disabled="savingSettings">
                            </div>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%;">
                            <div class="input-group">
                                <span class="fixed-addon-width-3 input-group-addon">企业 MAC</span>
                                <input type="text" maxlength="17" class="form-control" ng-model="settings.mac"
                                       ng-disabled="savingSettings">
                            </div>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%;">
                            <span class="input-group-addon">企业类型</span>
                            <select class="form-control" ng-model="settings.encryptionType"
                                    ng-disabled="savingSettings">
                                <option value="wpa2+ccmp">WPA2 Enterprise CCMP</option>
                                <option value="wpa2+tkip">WPA2 Enterprise TKIP</option>
                                <option value="wpa2+ccmp+tkip">WPA2 Enterprise TKIP+CCMP</option>
                                <option value="wpa+ccmp">WPA Enterprise CCMP</option>
                                <option value="wpa+tkip">WPA Enterprise TKIP</option>
                                <option value="wpa+ccmp+tkip">WPA Enterprise CCMP+TKIP</option>
                                <option value="wpa-mixed+ccmp">WPA Mixed Enterprise CCMP</option>
                                <option value="wpa-mixed+tkip">WPA Mixed Enterprise TKIP</option>
                                <option value="wpa-mixed+ccmp+tkip">WPA Mixed Enterprise CCMP+TKIP</option>
                            </select>
                        </div>
                        <div class="margin-bottom input-group" style="width: 100%;">
                            <span class="input-group-addon">降级攻击</span>
                            <select class="form-control" ng-model="settings.downgrade" ng-disabled="savingSettings">
                                <option value="DISABLE">关闭</option>
                                <option value="MSCHAPV2">MSCHAPv2</option>
                                <option value="GTC">GTC</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-default" ng-click="saveSettings();" ng-disabled="savingSettings">
                                <span ng-hide="savingSettings">保存</span>
                                <img src="img/throbber.gif" class="button-throbber" ng-show="savingSettings"/>
                            </button> &nbsp;&nbsp;
                            <span class="alert well-sm alert-success" ng-show="savedSettings">保存设置</span>
                            <span class="alert well-sm alert-danger" ng-show="error">{{ error }}</span>
                            <br/>
                            <span class="text-muted small">提示: 克隆接入点可能会重新启动WiFi.</span>
                            <br/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="col-md-12">
                            <p class="text-center text-info" ng-show="chalrespdata.length == 0">没有获取到响应的数据信息.</p>
                            <div class="table-responsive">
                                <table ng-show="chalrespdata.length" class="table">
                                    <thead>
                                    <tr class="default-cursor">
                                        <th>类型</th>
                                        <th>用户名</th>
                                        <th>Challenge</th>
                                        <th>响应</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="datapoint in chalrespdata">
                                        <td>{{ datapoint.type | uppercase }}</td>
                                        <td class="autoselect">{{ datapoint.username }}</td>
                                        <td class="autoselect">{{ datapoint.challenge }}</td>
                                        <td class="autoselect">{{ datapoint.response }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center text-info" ng-show="basicdata.length == 0">没有可用的基础数据信息.</p>
                            <div class="table-responsive">
                                <table ng-show="basicdata.length" class="table">
                                    <thead>
                                    <tr class="default-cursor">
                                        <th>类型</th>
                                        <th>用户名</th>
                                        <th>密码</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="datapoint in basicdata">
                                        <td>{{ datapoint.type | uppercase }}</td>
                                        <td class="autoselect">{{ datapoint.username }}</td>
                                        <td class="autoselect">{{ datapoint.password }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-controller="PinejectorController">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    注入原始帧 <img src="img/throbber.gif" ng-show="injecting"/>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control uppercase" id="payload" rows="6"
                                      placeholder="Hex Encoded Payload..." ng-model="payload"></textarea>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="fixed-addon-width-1 input-group-addon">信道</span>
                            <select class="form-control" id="channel" ng-model="channel"
                                    ng-options="channel for channel in channels"></select>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">帧数</span>
                            <input class="form-control" type="number" id="count" ng-model="frameCount" min="1"
                                   max="100"/>
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon">发送延迟(ms)</span>
                            <input class="form-control" type="number" id="delay" ng-model="delay" min="100"
                                   max="1200000"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <button class="btn btn-lg btn-default btn-block" type="button"
                                    ng-disabled="injecting || !checkPayload()" ng-click="injectFrames()">
                                注入帧
                                <img src="img/throbber.gif" ng-show="injecting"/>
                            </button>
                        </div>
                        <div ng-show="error" class="alert well-sm alert-danger">
                            <span>{{ error }}</span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-default btn-block" type="button" ng-show="error"
                                    ng-click="toggleDetails()" data-toggle="collapse" data-target="#detailed-info">
                                显示调试信息
                            </button>
                        </div>
                        <div ng-show="error && showDetails" class="alert well-lg alert-danger collapse"
                             id="detailed-info">
                            <span>
                                <h6>命令</h6>
                                <pre class="autoselect">{{ command }}</pre>
                                <h6>退出代码</h6>
                                <pre class="autoselect">{{ exitCode }}</pre>
                                <h6>标准输出</h6>
                                <pre class="autoselect">{{ stdout }}</pre>
                                <h6>标准错误</h6>
                                <pre class="autoselect">{{ stderr }}</pre>
                            </span>
                        </div>
                        <div ng-hide="checkPayload() || payload.length === 0" class="alert well-sm alert-danger">
                            <span>无效的hex.</span>
                        </div>
                        <div ng-show="checkRadiotap()" class="alert well-sm alert-warning">
                            <span>看起来这个帧包含一个radiotap头.可以考虑删除它.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>