<div class="row">

    <div class="col-md-6">
        <div class="panel panel-default" ng-controller="TrackingListController">
            <div class="panel-heading">
                <h3 class="panel-title">
                    客户端追踪列表
                    <span class="dropdown">
                        <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="trackingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="trackingDropdown">
                            <li ng-click="clearMacs()"><a>清除客户端列表</a></li>
                        </ul>
                    </span>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <textarea class="form-control" rows="15" onmouseup="getLineNumber(this);" ng-model="trackingList" readonly></textarea>
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="MAC Address" name="mac" ng-model="mac">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addMac()">添加</button>
                        <button class="btn btn-default" type="button" ng-click="removeMac()">移除</button>
                    </span>
                </div>
                <br/>
                <div class="alert well-sm alert-danger" ng-show="error">
                    {{ error }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default" ng-controller="TrackingScriptController">
            <div class="panel-heading">
                <h3 class="panel-title">追踪脚本</h3>
            </div>
            <div class="panel-body">
                <p>
                    <textarea class="form-control" rows="15" ng-model="trackingScript"></textarea>
                </p>
                <p class="alert well-sm alert-success" ng-show="scriptSaved">脚本保存成功</p>
                <button type="submit" class="btn btn-default" ng-click="saveScript()">保存脚本</button>
            </div>
        </div>
    </div>

</div>